nav {
    background-color:#050130;
    padding:0 100px; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    font: 16px Tahoma;
    color:white;
    text-decoration: none;
    padding:15px 20px; 
    display: inline-block;
}

nav ul li a:hover {
    background-color: white;
    color:#050130
}

.active {
    background-color: #2c1af6;
    color:#050130

}